<p>Neo4j DB running in localhost:7474</p>

<p>Node count: <%= @num_nodes %></p>

<form action="create" method="POST">
	New node name: <input type="text" name="input_name"><br>
	<input type="submit" value="Create node">
</form>
